@font-face {
    font-family: 'yataghanregular';
    src: url('https://natepond.github.io/bootstrap/fonts/yataghan-webfont.eot');
    src: url('https://natepond.github.io/bootstrap/fonts/yataghan-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://natepond.github.io/bootstrap/fonts/yataghan-webfont.woff') format('woff'),
         url('https://natepond.github.io/bootstrap/fonts/yataghan-webfont.ttf') format('truetype'),
         url('https://natepond.github.io/bootstrap/fonts/yataghan-webfont.svg#yataghanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: url("images/background.png"); 
}

#about {
  text-align: center;
  text-align: justify;
  margin-bottom: 20px;
}

#Ubu {
  height: 400px;
  float: left;
  margin-right: 2rem;
  margin-bottom: 25px; 
  -webkit-shape-outside:circle();
  shape-outside:circle();
}


#history {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 200%;
}

.col-sm-1 { 
  background-color: none;
  border: none;
}

.col-sm-6 {
  margin-bottom: 15px;
}

#External {
  color: #ecf0f1;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 5px 40px 5px;
  border: solid 2px #c71f1f; 
}

.col-lg-6 {
  color: #ecf0f1;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 5px 40px 5px;
  border: solid 2px #c71f1f; 
}

.col-lg-8 {
  color: #ecf0f1;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 5px 40px 5px;
  border: solid 2px #c71f1f; 
}

.col-lg-12 {
  color: #ecf0f1;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 5px 40px 5px;
  border: solid 2px #c71f1f; 
}

.col-lg-7 {
  color: #ecf0f1;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 5px 40px 5px;
  border: solid 2px #c71f1f; 
}

#conta {
  margin-bottom: 20px;
}

#info {
  border-radius: 0px 0px 5px 40px;
  border-top: none;

}

.icons {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;  
}

.btn {
  border-radius: 5px 30px 5px;
}
.navbar-fixed-bottom {
  width: 100%;
  height: 60px;
  text-align: center;
  color: transparent;
  padding-top: 15px;
  overflow:hidden;
  border-top: solid 5px transparent;
}

.navbar-fixed-bottom:hover {
  background-color: #36454f;
  border-color: #c71f1f;
  color: #ecf0f1;
  transition-duration: 1.00s
}

.navbar-default {
  background-color: #36454f;
  border-color: #36454f;
  border-bottom: solid 2.5px #c71f1f;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f4a9a9;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f4a9a9;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #36454f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f4a9a9;
  background-color: #c71f1f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #c71f1f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f4a9a9;
  background-color: #c71f1f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f4a9a9;
  background-color: #c71f1f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f4a9a9;
  background-color: #c71f1f;
}
.navbar-default .navbar-toggle {
  border-color: #c71f1f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c71f1f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f4a9a9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f4a9a9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f4a9a9;
    background-color: #c71f1f;
  }
}